<!-- ======= Intro Section ======= -->
<div id="home" class="intro route bg-image" style="background-image: url(assets/img/intro-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">I am Veysel Karaca</h1>
                <p class="intro-subtitle"><span class="text-slider-items">Web Developer,Full Stack
                        Developer</span><strong class="text-slider"></strong></p>
            </div>
        </div>
    </div>
</div><!-- End Intro Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngFor="let person of _service.profile" class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="about-img">
                                            <img src="../assets/img/profile.jpeg" class="img-fluid rounded b-shadow-a"
                                                alt="Veysel Karaca">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>{{ person.name }}</span></p>
                                            <p><span class="title-s">Profile: </span> <span>{{ person.profession
                                                    }}</span>
                                            </p>
                                            <p><span class="title-s">Email: </span> <span>{{ person.email }}</span></p>
                                            <p><span class="title-s">Phone: </span> <span>{{ person.phone }}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skills</p>
                                    <div *ngFor="let skill of _service.skills" class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <p>{{skill.name}}</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <div style="height: 12px" class="progress rounded-pill">
                                                    <div role="progressbar" aria-valuenow="44" aria-valuemin="0"
                                                        aria-valuemax="100" [ngStyle]="{'width': skill.value + '%'}"
                                                        class="progress-bar rounded-pill bg-gradient"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        My name is Veysel and I graduated from computer programming at the Gazi University
                                        and now i am working as a software developer at a group company
                                        I was considered a person passionate about
                                        computer science, programming and web development.
                                    </p>
                                    <p class="lead">
                                        I constantly work on my self-taught learning, with the help of the different
                                        technological tools that currently interact and intervene in the transformation
                                        and growth of the digital world.
                                    </p>
                                    <p class="lead">
                                        I focus on frontend web development and also single page applications (SPA),
                                        their performance, among other topics, I am currently learning different
                                        libraries and frameworks to carry out multiple software projects more quickly
                                        and easily. Also I'm working on Web Api and Git.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
</main>